{% for item in post %}
  <div class="well">
    <h3>
      <a href="/blog/article/{{ item.id }}/{{ item.slug }}">{{ item.title }}</a>
    </h3>
    <span>{{ 'lbl.poston'|lng }} {{ item.date }} by <a href="{{ meta.site }}blog/{{ item.author }}">{{ item.author }}</a>
    with {{ item.total_comments }} comments
    </span>
    <HR>
    <p>{{ item.preview|raw }}<a href="{{ meta.site }}blog/article/{{ item.id }}/{{ item.slug }}"> {{ 'lbl.more.post'|lng }}...</a></p>
  </div>
{% endfor %}
