<div class="container">
  <form class="form-signin well" action='' method='post'>
    <h2 class="form-signin-heading">Please Register</h2>

    <!-- <div id="form-group" {{ username.has-error ? 'class="has-error"' }}>
        <label class="control-label has-feedback" for="{{ username.input }}">{{ username.input }}</label>
        <input class="form-control" id="{{ username.input }}" name="{{ username.input }}" placeholder="{{ username.input }}" value="" type="text">
    </div> -->
    {{ form.username|raw }}
    <br>
    {{ form.email|raw }}
    <br>
    {{ form.email2|raw }}
    <br>
    {{ form.password|raw }}
    {{ form.button|raw }}
    <input type='button' class="btn btn-lg btn-primary btn-block" name='cancel' value='Cancel' onclick='location.href=\"index\";' />

  </form>
</div> <!-- /container -->
