{% extends "base.twig" %}
{% block content %}
    <div class="container">
    	<ul>
		<div class="row">
    	{% for item in collection %}
    	{% if item.url %}
  			<li><a href="{{ site }}{{ item.url }}">{{ item.title }}</a></li>
  		{% endif %}
  		{% if item.title_id %}
  			<div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="{{ meta.site }}movie/{{ item.title_id }}">
                    <img class="img-responsive" src="/{{ item.pic_path}}">
                    <p>{{ item.title }} ({{ item.release_date }})</p>
                </a>
        </div>
      {% endif %}
    	{% endfor %}
    	</div>
    	</ul>
    </div>
{% endblock %}
